body 
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header h1 {
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    list-style: none;
}

ul li {
    flex: 1 1 250px;
    border: 1px solid var(--cor-hover);
    padding: 15px;
    border-radius: 8px;
    background-color: var(--cor-fundo);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}